* {
  /* Свойства для сброса начальных стилей элементов */
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #303030;
}

header {
  /* Стили для хедера */
  background-color: #2965f1;
  padding: 23px 0;
}

header span {
  /* Стили для текста в хедере IT-INCUBATOR */
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.main-section {
  /* Стили для первой секции */
  background-color: #fafaff;
  padding: 60px 0;
  min-height: 100vh;
}

.main-title {
  /* Стили для заголовка в первой секции */
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  margin-bottom: 20px;
}

.main-text {
  /* Стили для текста в первой секции */
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.main-image {
  /* Стили для изображения в первой секции */
  max-width: 715px;
}

.about-section {
  /* Стили для второй секции */
  background-color: #ffffff;
  padding: 70px 0;
}

select {
  /* Стили для выпадающего списка */
  width: 150px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  padding: 8px 8px;
  background: url(./assets/images/ep_arrow-down.svg) no-repeat right 8px top 50%;
  appearance: none;
}

.section-title {
  /* Стили для заголовков во второй секции */
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 30px;
}

.frameworks-list {
  /* Стили для маркированного списка во второй секции */
  list-style-image: url(./assets/images/Vector.png);
  padding-left: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.books-list {
  /* Стили для нумерованного списка во второй секции */
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  padding-left: 20px;
}

.label {
  /* Стили для подписей чекбоксов */
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.text-field {
  /* Стили для односточного поля ввода текста */
  width: 330px;
  height: 36px;
  padding: 8px 8px;
  border: 1px solid rgb(48, 48, 48, 30%);
  border-radius: 5px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.btn {
  /* Стили для кнопки */
  width: 125px;
  height: 36px;
  background-color: #2965f1;
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  border: none;
  padding: 9px 0;
  border-radius: 5px;
}

.line {
  /* Стили для линии */
  margin: 50px 0;
}

table {
  /* Стили для таблицы */
  border-collapse: collapse;
}

th,
td {
  /* Стили для ячеек таблицы */
  padding: 10px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

footer {
  /* Стили для футера */
}

.footer-link {
  /* Стили для футера */
}
